<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.kix2902.foodinfo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectorActivity"
            android:label="@string/label_selector" />
        <activity android:name=".DetailActivity" />

        <provider
            android:name=".database.FoodContentProvider"
            android:authorities="es.kix2902.foodinfo.provider"
            android:exported="false" />
    </application>

</manifest>
